body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: var(--white-background);
}
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

/* Header */

.logo {
  color: var(--navy-blue);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.logo span {
  color: var(--iris);
}
.menu-link {
  color: var(--navy-blue);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--ocean);
}
.link-contact {
  color: var(--slate);
  text-decoration: none;
}
.link-contact:hover,
.link-contact:focus {
  color: var(--ocean);
}

/* Landing page */

.hero {
  background-color: var(--navy-blue);
}
.hero-titel {
  color: var(--white);
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.43; /* 107.143% */
  letter-spacing: 1.12px;
}
.hero-button {
  color: var(--white);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  background-color: var(--iris, #4d5ae5);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}
.values-titel {
  color: var(--navy-blue);
  font-family: Roboto;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.values-subtitle {
  color: var(--navy-blue);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}
.values-description {
  color: var(--slate);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
.activity-title {
  color: var(--navy-blue);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.team {
  background-color: var(--cloud);
}
.team-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.team-subtitle {
  color: var(--navy-blue);
  background-color: var(--white);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}
.team-position {
  color: var(--slate);
  background-color: var(--white);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

/* Footer */

footer {
  background-color: var(--navy-blue);
}
.footer-logo {
  color: var(--cloud);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-logo span {
  color: var(--iris);
}
footer p {
  color: var(--cloud);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

/* Page Portfolio All */

.filter-button {
  background-color: var(--cloud, #f4f4fd);
  color: var(--iris);
  text-align: center;
  cursor: pointer;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
}

.filter-button:hover,
.filter-button:focus {
  background: var(--ocean);
  color: var(--white, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
.all-title {
  color: var(--navy-blue);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}
.all-filter {
  color: var(--slate);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
